#We don't need the visual studio files in the github
.vs/
.vscode/
antlr-4.8-complete
antlr-4.8-complete.jar
antlr4/atn/ATN.js
antlr4/atn/ATNConfig.js
antlr4/atn/ATNConfigSet.js
antlr4/atn/ATNDeserializationOptions.js
antlr4/atn/ATNDeserializer.js
antlr4/atn/ATNSimulator.js
antlr4/atn/ATNState.js
antlr4/atn/ATNType.js
antlr4/atn/index.js
antlr4/atn/LexerAction.js
antlr4/atn/LexerActionExecutor.js
antlr4/atn/LexerATNSimulator.js
antlr4/atn/ParserATNSimulator.js
antlr4/atn/PredictionMode.js
antlr4/atn/SemanticContext.js
antlr4/atn/Transition.js
antlr4/BufferedTokenStream.js
antlr4/CharStreams.js
antlr4/CommonTokenFactory.js
antlr4/CommonTokenStream.js
antlr4/dfa/DFA.js
antlr4/dfa/DFASerializer.js
antlr4/dfa/DFAState.js
antlr4/dfa/index.js
antlr4/error/DiagnosticErrorListener.js
antlr4/error/ErrorListener.js
antlr4/error/Errors.js
antlr4/error/ErrorStrategy.js
antlr4/error/index.js
antlr4/FileStream.js
antlr4/index.js
antlr4/InputStream.js
antlr4/IntervalSet.js
antlr4/Lexer.js
antlr4/LL1Analyzer.js
antlr4/package.json
antlr4/Parser.js
antlr4/ParserRuleContext.js
antlr4/polyfills/codepointat.js
antlr4/polyfills/fromcodepoint.js
antlr4/PredictionContext.js
antlr4/README.md
antlr4/Recognizer.js
antlr4/RuleContext.js
antlr4/Token.js
antlr4/tree/index.js
antlr4/tree/Tree.js
antlr4/tree/Trees.js
antlr4/Utils.js



# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
antlr-4.8-complete.jar

# Mono-specific ignores
.mono/
